<a href="https://colab.research.google.com/github/itxDeeni/002_MachineLearning_eBook/blob/master/PythonProgate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
class continent():
    name = input("Please enter NA for Norht America, SA for south america, EU for europe, AS for Asia , AF for Africa or press DONE when you are through ")


n_america = {
    'countries' : ['USA', 'Canada', 'mexico'],
    'total_cases' : [1746311, 87519, 78023],
    'active cases' : [1153939, 34590, 15043],
    'discharged'   : [490256, 46164, 54383],
    'death' : [102116, 6765, 8597] 
}
europe = {
    'countries' : ['Russia', 'Spain', 'Italy'],
    'total_cases' : [379051, 283849, 231139],
    'active cases' : [223916, 59773,50996 ],
    'discharged'  : [150993, 196958, 147101],
    'death' : [4142, 27118, 33072] 
}
s_ameria = {
    'countries' : ['Brazil', 'Peru', 'Chile'],
    'total_cases' : [414661, 134905,82289 ],
    'active cases' : [222317, 75753, 47908],
    'discharged'   : [166647, 56169, 33540],
    'death' : [25697, 3983,841] 
}
asia = {
    'countries' : ['China', 'India', 'Japan'],
    'total_cases' : [82995, 159054, 16651],
    'active cases' : [73,86584 , 1829],
    'discharged'   : [78288, 67929, 13973],
    'death' : [4634, 4541, 858] 
}
africa = {
    'countries' : ['Nigeria', 'Egypt', 'Ghana'],
    'total_cases' : [8733 , 19666, 7303],
    'active cases' : [5978, 13645, 4857],
    'discharged'   : [2501, 5205, 2412],
    'death' : [254, 816, 34] 
}

Please enter NA for Norht America, SA for south america, EU for europe, AS for Asia , AF for Africa or press DONE when you are through DONE